In [2]:
import pandas as pd
import csv

In [3]:
labels = {}
with open("../pop-labels.csv") as f:
    for row in csv.DictReader(f):
        labels[row["path"]] = row["label"]
# labels

In [9]:
labels

{'PRODUCTEUR': 'Producteur',
 'CONTIENT_IMAGE': '',
 'POP_FLAGS': 'Alertes POP',
 'POP_COORDONNEES.lat': '',
 'POP_COORDONNEES.lon': '',
 'POP_CONTIENT_GEOLOCALISATION': '',
 'POP_COORDINATES_POLYGON.type': '',
 'POP_COORDINATES_POLYGON.coordinates': '',
 'BASE': 'Nom de la base',
 'MEMOIRE': '',
 'REF': 'Référence de la notice',
 'POP_IMPORT': '',
 'ACQU': "Contexte d'acquisition",
 'ADRS': "Adresse de l'édifice",
 'ADRS2': "Adresse de l'édifice contenant masqué",
 'AFIG': 'Auteur du projet',
 'AIRE': "Aire d'étude pour le domaine Inventaire",
 'APPL': "Appelation d'usage",
 'ATEL': "Personne morale créatrice de l'objet",
 'AUTP': 'Auteur de la photographie (Mémoire)',
 'AUTR': "Auteur de l'œuvre ou créateur de l'objet",
 'BIBL': 'Référence(s) de publication(s)',
 'CANT': 'Canton',
 'CATE': 'Catégorie technique',
 'COM': 'Commune',
 'COM2': 'Commune masquée',
 'PRECISION_JURIDIQUE': 'Précision juridique',
 'CONTACT': 'Adresse courriel de contact',
 'COOR': "Coordonnées géographiques d'un point",
 'COORM': 'Coordonnées géographiques multiples',
 'COPY': 'Copyright de la notice ',
 'DATE': 'Année de création',
 'DBOR': 'Date de rédaction de la notice',
 'DENO': "Dénomination de l'objet",
 'DENQ': "Date de l'enquête ou du dernier récolement",
 'DEPL': "Lieu de déplacement de l'objet",
 'DESC': 'Description matérielle',
 'DIMS': 'Dimensions normalisées',
 'DMAJ': 'Date de la dernière modification de la notice',
 'DMIS': 'Date de versement de la notice',
 'DOMN': 'Domaine',
 'DOSADRS': 'Adresse du dossier Inventaire',
 'DOSS': 'Dénomination du dossier',
 'POP_DOSSIER_VERT': 'PDF Inventaire (dossier verts)',
 'POP_ARRETE_PROTECTION': 'Arrêté de protection MH',
 'POP_DOSSIER_PROTECTION': 'Dossier de protection MH',
 'DOSURL': 'URL du dossier Inventaire',
 'DOSURLPDF': "Précisions sur l'URL du dossier Inventaire",
 'DPRO': 'Date et typologie de la protection',
 'DPT': 'Département',
 'DPT_LETTRE': 'Département en lettre',
 'EDIF': "Nom de l'édifice",
 'EDIF2': 'Edifice contenant masqué',
 'EMPL': 'Emplacement de l’œuvre dans l’édifice',
 'EMPL2': "Emplacement dans l'édifice masqué",
 'ETAT': 'État de conservation (normalisé)',
 'ETUD': "Cadre de l'étude ",
 'EXEC': 'Lieu de création',
 'EXPO': "Référence(s) d'exposition(s)",
 'HIST': 'Description historique',
 'IDAGR': 'Référence informatique SIMH',
 'IMAGE': "Emplacement de l'image sur le serveur",
 'IMG': '',
 'IMPL': "Milieu d'implantation pour le domaine Inventaire",
 'INSC': 'Inscription',
 'INSEE': 'Numéro INSEE de la commune',
 'INSEE2': 'Code INSEE masqué',
 'INTE': "Intérêt de l'objet",
 'JDAT': 'Justification de la datation',
 'LARC': 'Lien base Arcade',
 'LINHA': 'Lien INHA',
 'LREG': 'Lien Regards',
 'LBASE2': 'Référence de la notice cible Palissy pour Mémoire',
 'LIENS': 'Liens externes éventuels',
 'LIEU': 'Lieu-dit',
 'LMDP': '',
 'LOCA': 'Localisation complète',
 'MANQUANT': "Statut juridique de l'objet",
 'MATR': "Matériaux et techniques d'interventions",
 'MFICH': 'Accès microfiche ',
 'MICR': 'Numéro de microfiche',
 'MOSA': "Edition d'une mosaïque d'image",
 'NART': "Numéro artificiel de différenciation de l'objet",
 'NINV': "Numéro d'inventaire affecté à l'objet",
 'NOMS': 'Nom du rédacteur',
 'NUMA': "Numéro de l'arrêté de protection",
 'NUMP': 'Cote de la photographie (Mémoire)',
 'OBS': 'Observations',
 'ORIG': 'Lieu de provenance',
 'PAPP': "Intitulé de l'ensemble",
 'PARN': 'Partie constituante non étudiée',
 'PART': 'Partie constituante',
 'PDEN': "Précision sur la typologie de l'objet - hors lexique",
 'PDIM': 'Précisions sur les dimensions',
 'PERS': "Personnalités liées à l'histoire de l'objet",
 'PETA': "Précisions sur l'état de conservation",
 'PHOTO': 'Photographies liées au dossier de protection',
 'PINS': "Précisions sur l'inscription",
 'PINT': 'Intérêt oeuvre',
 'PLOC': 'Précision sur la localisation',
 'PPRO': 'Précisions sur la protection',
 'PREP': "Description littéraire de l'iconographie",
 'PROT': 'Typologie de la protection',
 'REFA': "Référence Mérimée de l'édifice",
 'REFE': "Référence des l'ensemble",
 'REFM': '',
 'REFP': 'Références des parties constituantes étudiées',
 'REFJOC': 'Référence aux objets Joconde',
 'REFMUS': 'Référence aux objets Muséo',
 'REG': 'Région',
 'RENP': "Renvoi vers dossier 'peinture'",
 'RENV': 'Numéro de renvoi vers un autre domaine',
 'REPR': 'Indexation iconographique normalisée',
 'SCLD': '',
 'SCLE': 'Siècle de création',
 'SCLX': '',
 'SOUR': "Sources d'archives et bases de données de référence",
 'STAD': 'Etape de création',
 'STAT': 'Statut juridique du propriétaire',
 'STRU': 'Structure et typologie',
 'THEM': "Thème de l'étude",
 'TICO': 'Titre courant',
 'TITR': 'Titre iconographique',
 'TOUT': '',
 'VIDEO': 'Url de liaison avec Mémoire',
 'VOLS': 'Informations relatives aux vols',
 'WADRS': "Adresse pour l'affichage",
 'WCOM': "Commune pour l'affichage",
 'WEB': 'Accès Mémoire',
 'WRENV': '',
 'ZONE': "Typologie de la coordonnée géographique de l'édifice",
 '_id': '',
 '__v': ''}

In [4]:
from exports.lib import load_export_df
df = load_export_df("../exports/palissy.csv")

/Users/adipasquale/dev/pop-scraper/exports/lib.py:4: DtypeWarning: Columns (1,2,4,6,7,17,18,21,23,30,34,45,46,47,48,50,51,52,53,54,56,57,58,59,60,64,65,66,67,68,69,70,71,74,75,78,83,85,86,90,102,103,104,105,110,116,117,121,122,123,125,126,127) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_path, dtype={"DPT": str})

In [5]:
df.columns

Index(['ACQU', 'ADRS', 'AFIG', 'AIRE', 'APPL', 'ATEL', 'AUTP', 'AUTR', 'BASE',
       'BIBL',
       ...
       'TICO', 'TITR', 'TOUT', 'VIDEO', 'VOLS', 'WADRS', 'WCOM', 'WEB',
       'WRENV', 'ZONE'],
      dtype='object', length=127)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275928 entries, 0 to 275927
Columns: 127 entries, ACQU to ZONE
dtypes: float64(6), object(121)
memory usage: 267.4+ MB

In [7]:
items_count = df.shape[0]
items_count

275928

In [8]:
from IPython.display import display, Markdown
def d(s):
    display(Markdown(s))

In [10]:
for column in df.columns:
    d(f"# {column}")
    label = labels.get(column)
    if label:
        d(f"*{label}*")
    d(f"{df[column].nunique(dropna=False)} valeurs uniques")
    not_null_count = df[~df[column].isnull()].shape[0]
    not_null_pct = float(not_null_count * 100) / items_count
    dots = round(not_null_pct/ 10)
    print("|", end="")
    for _ in range(dots):
        print("-", end="")
    for _ in range(10 - dots):
        print(" ", end="")
    print("|")
    d(f"{round(not_null_pct)}% des objets ont une valeur non-nulle")
    display(pd.DataFrame(df[column].value_counts()[0:5]))
    print()

# ACQU

*Contexte d'acquisition*

77 valeurs uniques

|          |

1% des objets ont une valeur non-nulle

                                              ACQU
DONATION-(AURORE LAUTH SAND: 6 OCTOBRE 1952)  2311
oui                                            195
1947-1958                                       26
dation en paiement des droits de mutation        6
DEPOT-(COMITE DU TOURISME DE L'INDRE)            4

# ADRS

*Adresse de l'édifice*

1043 valeurs uniques

|          |

4% des objets ont une valeur non-nulle

                        ADRS
Convention (rue de la)   522
Nicolas-II (avenue)      264
Dorée (rue) 16           195
Poitevine (rue) 16       166
Saint-Etienne (place)    153

# AFIG

*Auteur du projet*

1688 valeurs uniques

|          |

1% des objets ont une valeur non-nulle

                                                    AFIG
Rubens Pierre Paul (d'après, peintre)                178
Le Brun Charles (d'après, peintre)                   129
Sanzio Raffaello, dit : Raphaël (d'après, peintre)   119
Poussin Nicolas (d'après, peintre)                    90
Reni Guido (d'après, peintre)                         81

# AIRE

*Aire d'étude pour le domaine Inventaire*

25 valeurs uniques

|          |

1% des objets ont une valeur non-nulle

             AIRE
Ain           432
Besançon      410
Haute-Marne   390
Gignac        101
Nice           69

# APPL

*Appelation d'usage*

17370 valeurs uniques

|-         |

10% des objets ont une valeur non-nulle

                 APPL
du maître-autel  1641
de la Vierge      505
latéral nord      359
latéral sud       339
du choeur         322

# ATEL

*Personne morale créatrice de l'objet*

585 valeurs uniques

|          |

1% des objets ont une valeur non-nulle

                   ATEL
France (école)     1137
Italie (école)      252
française (école)   100
Flandres (école)     96
Française (école)    76

# AUTP

*Auteur de la photographie (Mémoire)*

2016 valeurs uniques

|--        |

21% des objets ont une valeur non-nulle

                                                     AUTP
Ministère de la Culture (France), Médiathèque d...  14505
Mens Diego (conservateur des antiquités et obje...   3626
- Ministère de la Culture (France), Médiathèque...   2076
Conservation des antiquités et objets d'art - M...   1789
CAOA - Ministère de la Culture (France), Médiat...   1667

# AUTR

*Auteur de l'œuvre ou créateur de l'objet*

24141 valeurs uniques

|--        |

21% des objets ont une valeur non-nulle

                             AUTR
auteur inconnu              10344
Albert Gabriel (sculpteur)    376
anonyme                       276
Favier (orfèvre)              261
SAND MAURICE(PEINTRE)         233

# BASE

*Nom de la base*

1 valeurs uniques

|----------|

100% des objets ont une valeur non-nulle

                                 BASE
Patrimoine mobilier (Palissy)  275928

# BIBL

*Référence(s) de publication(s)*

8101 valeurs uniques

|-         |

5% des objets ont une valeur non-nulle

                                                    BIBL
enquête thématique départementale (recensement ...   390
ALEXANDRE Noël, monographie, Mère Geneviève Gal...   222
Orgues en Midi-Pyrénées, Toulouse : Orgues Méri...   208
Bégule (Lucien), La cathédrale de Sens, son arc...   139
Fossard, Albert, Le prieuré de Saint-Leu-d'Esse...    97

# CANT

*Canton*

4688 valeurs uniques

|--------  |

85% des objets ont une valeur non-nulle

                       CANT
Montpellier 5e Canton  1885
Wormhout                953
Gourin                  891
Orléans                 859
Poix-de-Picardie        851

# CATE

*Catégorie technique*

2176 valeurs uniques

|----------|

98% des objets ont une valeur non-nulle

                       CATE
sculpture             86145
peinture              36902
orfèvrerie            23305
menuiserie            18701
menuiserie;sculpture   9714

# COM

*Commune*

24621 valeurs uniques

|----------|

100% des objets ont une valeur non-nulle

              COM
Nohant-Vic   3461
Montpellier  2292
Dijon        1537
Pamiers      1459
Angers       1366

# COM2

*Commune masquée*

1 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

Empty DataFrame
Columns: [COM2]
Index: []

# CONTACT

*Adresse courriel de contact*

3 valeurs uniques

|----------|

97% des objets ont une valeur non-nulle

                                         CONTACT
mediatheque.patrimoine@culture.gouv.fr    267951
mediatheque.patrimoine@culture.gouv.fr         1

# CONTIENT_IMAGE

2 valeurs uniques

|----------|

100% des objets ont une valeur non-nulle

     CONTIENT_IMAGE
non          145361
oui          130567

# COOR

*Coordonnées géographiques d'un point*

300 valeurs uniques

|          |

1% des objets ont une valeur non-nulle

                        COOR
6.03013878,47.23382986   171
6.03039454,47.23388044   156
0822988 ; 2138063         75
47.234237 , 6.030408      73
0534300 ; 1179380         45

# COORM

*Coordonnées géographiques multiples*

3 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

                                                    COORM
0999437 ; 3170900/1000050 ; 3170900/1000050 ; 3...     69
6.03039454,47.23388044                                  1

# COPY

*Copyright de la notice *

79 valeurs uniques

|----------|

100% des objets ont une valeur non-nulle

                                 COPY
© Monuments historiques        116411
(c) Monuments historiques       54040
© Monuments historiques, 1992   30619
© Monuments historiques, 1993   20309
© Monuments historiques, 1994   14725

# DATE

*Année de création*

4599 valeurs uniques

|--        |

19% des objets ont une valeur non-nulle

           DATE
1838        629
1819;1838   476
1840        401
1850        392
1830        372

# DBOR

*Date de rédaction de la notice*

66 valeurs uniques

|-         |

11% des objets ont une valeur non-nulle

        DBOR
2004.0  4603
2003.0  4265
2006.0  3071
2005.0  3065
1993.0  2100

# DENO

*Dénomination de l'objet*

13982 valeurs uniques

|----------|

99% des objets ont une valeur non-nulle

                 DENO
statue          48929
tableau         29027
cloche           6898
tableau;cadre    6520
groupe sculpté   6432

# DENQ

*Date de l'enquête ou du dernier récolement*

185 valeurs uniques

|-         |

10% des objets ont une valeur non-nulle

        DENQ
2003.0  4363
2003    1232
2002.0  1064
2002    1034
2010    1006

# DEPL

*Lieu de déplacement de l'objet*

3782 valeurs uniques

|          |

5% des objets ont une valeur non-nulle

                                                    DEPL
oeuvre volée                                        1955
oeuvre disparue                                     1697
oeuvre volée partiellement                           586
oeuvre retrouvée                                     266
lieu de déplacement : Nouvelle-Aquitaine, 19, S...   221

# DESC

*Description matérielle*

98288 valeurs uniques

|----      |

42% des objets ont une valeur non-nulle

                                             DESC
Sculpture en ciment armé.                     336
Moulage en plâtre.                            294
Cadre en bois doré.                           270
Huile sur toile dans un cadre en bois doré.   257
A effigie gravée.                             149

# DIMS

*Dimensions normalisées*

106641 valeurs uniques

|-------   |

74% des objets ont une valeur non-nulle

                         DIMS
Dimensions non prises.  24555
dimensions non prises    5178
dimensions non prises.   1558
h = 100                  1432
h = 120                  1109

# DMAJ

*Date de la dernière modification de la notice*

1177 valeurs uniques

|--------- |

92% des objets ont une valeur non-nulle

             DMAJ
2018-12-20  33494
2019-01-09  17865
2019-11-08  15523
2022-05-14  13430
2019-01-07  12069

# DMIS

*Date de versement de la notice*

1127 valeurs uniques

|----------|

100% des objets ont une valeur non-nulle

            DMIS
1994-02-02  6854
1994-02-17  6271
1992-12-23  5727
1993-04-29  5447
1994-03-10  5161

# DOMN

*Domaine*

14 valeurs uniques

|          |

1% des objets ont une valeur non-nulle

                         DOMN
élément d'architecture   1773
Monuments Historiques     577
armement                  283
instrument de musique     191
élément d'architecture     56

# DOSADRS

*Adresse du dossier Inventaire*

3 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

                                                    DOSADRS
Région Centre-Val de Loire - Service régional d...        3
1er étage, chasublier 1, tiroir 1                         1

# DOSS

*Dénomination du dossier*

19 valeurs uniques

|----------|

100% des objets ont une valeur non-nulle

                                  DOSS
dossier individuel              254191
sous-dossier                     16511
dossier avec sous-dossier         3832
sous-dossier avec sous-dossier     317
individuel                         146

# DOSURL

*URL du dossier Inventaire*

1 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

Empty DataFrame
Columns: [DOSURL]
Index: []

# DOSURLP

1 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

Empty DataFrame
Columns: [DOSURLP]
Index: []

# DOSURLPDF

*Précisions sur l'URL du dossier Inventaire*

2 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

            DOSURLPDF
PM14001292          1

# DPRO

*Date et typologie de la protection*

10286 valeurs uniques

|----------|

98% des objets ont une valeur non-nulle

                                     DPRO
1953/03/17 : classé au titre objet   3319
1908/12/05 : classé au titre objet   2254
1973/03/06 : inscrit au titre objet  1850
1913/01/25 : classé au titre objet   1328
1905/02/20 : classé au titre objet   1306

# DPT

*Département*

102 valeurs uniques

|----------|

100% des objets ont une valeur non-nulle

     DPT
59  9178
62  8662
56  6414
49  6174
21  6138

# DPT_LETTRE

*Département en lettre*

102 valeurs uniques

|----------|

100% des objets ont une valeur non-nulle

                DPT_LETTRE
Nord                  9178
Pas-de-Calais         8662
Morbihan              6414
Maine-et-Loire        6174
Côte-d'Or             6138

# EDIF

*Nom de l'édifice*

12292 valeurs uniques

|----------|

99% des objets ont une valeur non-nulle

                      EDIF
église               32687
église Saint-Martin  10852
église Saint-Pierre   7977
église Notre-Dame     6879
église paroissiale    5961

# EMPL

*Emplacement de l’œuvre dans l’édifice*

41168 valeurs uniques

|------    |

60% des objets ont une valeur non-nulle

            EMPL
sacristie  18212
choeur     12477
nef         4622
trésor      2745
clocher     2028

# ETAT

*État de conservation (normalisé)*

1765 valeurs uniques

|-         |

14% des objets ont une valeur non-nulle

                   ETAT
oeuvre restaurée  12508
manque             3672
fragment           3132
mauvais état       2567
bon état           2100

# ETUD

*Cadre de l'étude *

64 valeurs uniques

|----------|

100% des objets ont une valeur non-nulle

                                                      ETUD
liste objets inscrits MH                            141338
liste objets classés MH                             114531
liste objets classés MH ; inventaire du patrimo...    6520
inventaire du patrimoine mobilier des cathédral...    3419
enquête thématique départementale (patrimoine m...    3223

# EXEC

*Lieu de création*

1728 valeurs uniques

|          |

4% des objets ont une valeur non-nulle

                                                EXEC
lieu d'exécution : Ile-de-France, 75, Paris     2237
lieu d'exécution : Rhône-Alpes, 69, Lyon         638
lieu d'exécution : Midi-Pyrénées, 31, Toulouse   509
lieu d'exécution : Paris                         236
Ile-de-France, 75, Paris                         148

# EXPO

*Référence(s) d'exposition(s)*

721 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

                                                    EXPO
Objet présenté lors de l'exposition Regards neu...   106
Splendeurs baroques, Arbois, Musée d'Art-Hôtel ...    46
Geneviève Gallois, une caricaturiste sous le vo...    40
Labastide-Rouairoux, Musée du Textile, 2003.          31
Richesses d'art en Tarn-et-Garonne, Musée Ingre...    23

# HIST

*Description historique*

75331 valeurs uniques

|----      |

36% des objets ont une valeur non-nulle

                                            HIST
Epoque Louis XV.                             514
Sans datation.                               500
Art populaire.                               487
Epoque Louis XVI.                            441
Objet provenant de la collection Schlumpf.   426

# IDAGR

*Référence informatique SIMH*

49899 valeurs uniques

|--        |

19% des objets ont une valeur non-nulle

        IDAGR
O5TVRZ     76
OPFTGE     65
O50EPG     42
OLEYS8     38
O89OTV     37

# IMAGE

*Emplacement de l'image sur le serveur*

8 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

                                                    IMAGE
<a href='javascript:AffUrl('http://143.126.134....      1
<a href='javascript:AffUrl('http://143.126.134....      1
http//www.culture.gouv.fr/Wave/image/memoire/31...      1
1er étage, chasublier 1, tiroir 1                       1
1er étage, chasublier 4, tiroir 6                       1

# IMG

51678 valeurs uniques

|--        |

19% des objets ont une valeur non-nulle

                                                    IMG
http://www2.culture.gouv.fr/Wave/image/memoire/...   15
http://www2.culture.gouv.fr/Wave/image/memoire/...   12
http://www2.culture.gouv.fr/Wave/image/memoire/...   12
http://www2.culture.gouv.fr/Wave/image/memoire/...   12
http://www2.culture.gouv.fr/Wave/image/memoire/...   12

# IMPL

*Milieu d'implantation pour le domaine Inventaire*

7 valeurs uniques

|          |

4% des objets ont une valeur non-nulle

                           IMPL
en village                 7849
en ville                   3186
en écart                    512
isolé                        54
Porte une étiquette n°28.     1

# INSC

*Inscription*

6824 valeurs uniques

|--        |

20% des objets ont une valeur non-nulle

                                       INSC
inscription                            8721
inscription;date                       3996
armoiries                              2911
signature;date                         2439
inscription concernant l'iconographie  2417

# INSEE

*Numéro INSEE de la commune*

33269 valeurs uniques

|----------|

100% des objets ont une valeur non-nulle

       INSEE
36143   3096
34172   1614
49007   1336
09225   1011
21231    888

# INTE

*Intérêt de l'objet*

26 valeurs uniques

|          |

1% des objets ont une valeur non-nulle

                     INTE
à signaler           2278
TC B 227                1
propriété de l'État     1
                        1
TC B 231                1

# JDAT

*Justification de la datation*

7 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

                                     JDAT
porte la date                           2
Polychromie 19e siècle ?                1
2e moitié 15e siècle (Isnard, 2007)     1
DATE PAR POINCON                        1
daté par travaux historiques            1

# LARC

*Lien base Arcade*

2 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

                                                    LARC
http://www2.culture.gouv.fr/public/mistral/arca...     1

# LIENS

*Liens externes éventuels*

2911 valeurs uniques

|          |

2% des objets ont une valeur non-nulle

                                                    LIENS
'javascript:                                         1009
http://www.culture.gouv.fr/Wave/image/palissy/P...     62
http://www.culture.gouv.fr/Wave/image/palissy/P...     29
http://www.culture.gouv.fr/Wave/image/palissy/P...     18
http://www.culture.gouv.fr/Wave/image/palissy/P...     14

# LIEU

*Lieu-dit*

4101 valeurs uniques

|-         |

7% des objets ont une valeur non-nulle

                    LIEU
Espeyran             247
Martinet             119
Beaufort-en-Vallée    90
Belvès ; Moncuq       82
Le Village            74

# LINHA

*Lien INHA*

4 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

                                                    LINHA
https://agorha.inha.fr/inhaprod/ark:/54721/0031...      1
https://agorha.inha.fr/inhaprod/ark:/54721/0032...      1
https://agorha.inha.fr/ark:/54721/0d317bfa-6101...      1

# LMDP

6424 valeurs uniques

|          |

2% des objets ont une valeur non-nulle

            LMDP
PM09000019     1
PM55000017     1
PM49000700     1
PM49000699     1
PM49000698     1

# LOCA

*Localisation complète*

27 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

                                                    LOCA
Bourgogne-Franche-Comté ; 25 ; Besançon              399
France ; Bourgogne-Franche-Comté ; Nièvre ; Nevers   115
Bourgogne-Franche-Comté ; Côte-d'Or                   55
Bourgogne-Franche-Comté ; Côte-d'Or ; Vinneuf          6
Centre-Val de Loire ; Cher ; Bourges                   5

# LREG

*Lien Regards*

2 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

                                                    LREG
http://collection.tapisseries.monuments-nationa...     1

# MANQUANT

*Statut juridique de l'objet*

3 valeurs uniques

|          |

2% des objets ont une valeur non-nulle

          MANQUANT
volé          2676
manquant      1801

# MATR

*Matériaux et techniques d'interventions*

30880 valeurs uniques

|----------|

96% des objets ont une valeur non-nulle

                                       MATR
toile (support) : peinture à l'huile  17733
bois : taillé                         12823
bois : taillé, peint (polychrome)     11121
pierre                                 8676
bois                                   7387

# MEMOIRE_REFS

128462 valeurs uniques

|-----     |

48% des objets ont une valeur non-nulle

                                     MEMOIRE_REFS
AP36W01287;AP36W01288                         982
AP12R042392;AP12R042393;AP12R042394            25
AP36W01007                                     25
AP36W01622                                     21
AP36W01918                                     19

# MEMOIRE_URLS

128331 valeurs uniques

|-----     |

48% des objets ont une valeur non-nulle

                                                    MEMOIRE_URLS
memoire/AP36W01287/36w01287.jpg;memoire/AP36W01...           982
memoire/AP36W01007/36w01007.jpg                               25
memoire/AP12R042392/12r042392.jpg;memoire/AP12R...            25
memoire/AP36W01622/36w01622.jpg                               21
memoire/AP36W01918/36w01918.jpg                               19

# MFICH

*Accès microfiche *

38 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

                                                  MFICH
© Monuments historiques                               9
Déposé chez Mr Gruson, rue de Saint-Omer à Aire.      3
photo d'ensemble                                      2
820091306101.0                                        1
820091804101.0                                        1

# MICR

*Numéro de microfiche*

34 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

                         MICR
AD Ain. Série V : 8V57      1
MICROFICHE (16/29 D 10)     1
microfiche (1/1 A 05)       1
microfiche (1/1 A 03)       1
MICROFICHE (14/29 F 04)     1

# MOSA

*Edition d'une mosaïque d'image*

32 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

                                                    MOSA
mosa-imgCENT : Images du Centre                        1
mosa-scVAL17 : Sculpture - Vierges à l'Enfant d...     1
mosa-IMGinstrsc : Instruments scientifiques            1
mosa-imgLIMO : Images du Limousin                      1
mosa-IMGvetemlit : Vêtements, linges et garnitu...     1

# NART

*Numéro artificiel de différenciation de l'objet*

3901 valeurs uniques

|          |

4% des objets ont une valeur non-nulle

     NART
1    1347
2    1127
3     428
4     233
n°2   166

# NINV

*Numéro d'inventaire affecté à l'objet*

8336 valeurs uniques

|          |

3% des objets ont une valeur non-nulle

     NINV
312    27
316    21
294    17
352    15
351    12

# NOMS

*Nom du rédacteur*

662 valeurs uniques

|-         |

8% des objets ont une valeur non-nulle

                              NOMS
Prost Nelly                   2098
Thomas Olivier                1577
Tissier Sophie                1253
Griot François;Decrock Bruno   705
Isnard Isabelle                679

# NUMA

*Numéro de l'arrêté de protection*

6713 valeurs uniques

|-         |

15% des objets ont une valeur non-nulle

                       NUMA
Arrêté n°2D3-81.26.     487
Arrêté n°2011-3798bis   376
Arrêté n°87-3427.       362
Arrêté n°2D3-78.135.    286
Arrêté n°D3-2008-273.   274

# NUMP

*Cote de la photographie (Mémoire)*

5 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

                                         NUMP
DOM                                         1
CRMH DRAC Centre 2005 ; DOM                 1
ARCH. PHOT. (MH89116, MH1256, MH57520C)     1
ARCH. PHOT. MH00114622                      1

# OBS

*Observations*

3945 valeurs uniques

|---       |

30% des objets ont une valeur non-nulle

                                          OBS
Fiche CAOA et photographie manquantes.  28801
Fiche et photographie manquantes.       17338
Photographie manquante.                  4890
Fiche manquante.                         3301
Fiche et photo manquantes.               2867

# ORIG

*Lieu de provenance*

4231 valeurs uniques

|          |

3% des objets ont une valeur non-nulle

                                                    ORIG
Lieu de provenance : Nouvelle-Aquitaine, 33, Pe...   408
lieu de provenance : 02 ; Soissons ; Cathédrale      145
lieu de provenance : Midi-Pyrénées, 09, Pamiers...    93
lieu de provenance : Midi-Pyrénées, 09, Lézat-s...    72
provenance inconnue                                   60

# PAPP

*Intitulé de l'ensemble*

1329 valeurs uniques

|-         |

5% des objets ont une valeur non-nulle

                                                    PAPP
orgue de tribune                                    1504
orgue                                                678
ensemble du maître-autel                             539
voitures automobiles (431)                           424
Collection lapidaire 410 fragments de sculpture...   323

# PARN

*Partie constituante non étudiée*

95 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

                PARN
autel             32
buffet d'orgue    30
cadre             19
tableau           14
boîte              9

# PART

*Partie constituante*

1280 valeurs uniques

|          |

2% des objets ont une valeur non-nulle

                                                PART
1                                               1057
partie instrumentale de l'orgue                  553
buffet d'orgue;partie instrumentale de l'orgue   396
tableau                                          246
buffet d'orgue                                   193

# PDEN

*Précision sur la typologie de l'objet - hors lexique*

6470 valeurs uniques

|--        |

18% des objets ont une valeur non-nulle

                  PDEN
statuette         4585
maître-autel      4447
orgue de tribune  2774
tableau ex-voto   1269
petite nature     1107

# PDIM

*Précisions sur les dimensions*

597 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

                                           PDIM
Dimensions non prises.                      261
Dimensions approximatives.                   27
Dimensions approximatives, sans le cadre.    17
Dimensions données par l'INHA.                7
dimensions approximatives                     6

# PERS

*Personnalités liées à l'histoire de l'objet*

2082 valeurs uniques

|          |

1% des objets ont une valeur non-nulle

                                   PERS
Schlumpf Fritz (collectionneur)     429
Aliquot Claude (donateur)           111
Chanel Gabrielle (propriétaire)     108
Napoléon III (donateur)              76
Napoléon III, empereur (donateur)    71

# PETA

*Précisions sur l'état de conservation*

26992 valeurs uniques

|-         |

12% des objets ont une valeur non-nulle

                        PETA
Bois décapé.             235
Traces de polychromie.   214
Bon état.                149
A                         70
R                         61

# PHOTO

*Photographies liées au dossier de protection*

49190 valeurs uniques

|-----     |

50% des objets ont une valeur non-nulle

             PHOTO
DOM          65734
CAOA          4233
sans cliché   4071
SRI           1011
CAOA ; DOM     992

# PINS

*Précisions sur l'inscription*

46126 valeurs uniques

|--        |

18% des objets ont une valeur non-nulle

                                                    PINS
Poinçon : Minerve.                                    44
Inscription (en lettres dorées) : noms des gagn...    34
Inscription votive en partie inférieure.              28
Inscription : le nom du personnage est inscrit ...    25
POINCON DE MAITRE: VE E C, LAPIN ?                    23

# PINT

*Intérêt oeuvre*

2 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

                       PINT
Monuments historiques     1

# PLOC

*Précision sur la localisation*

1128 valeurs uniques

|-------   |

72% des objets ont une valeur non-nulle

                                                PLOC
Anciennement région de : Rhône-Alpes           17854
Anciennement région de : Centre                16066
Anciennement région de : Midi-Pyrénées         13888
Anciennement région de : Bourgogne             13208
Anciennement région de : Languedoc-Roussillon  12989

# POP_ARRETE_PROTECTION

*Arrêté de protection MH*

12 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

                                          POP_ARRETE_PROTECTION
palissy/PM32000414/PM32000414MCH1988.pdf                      1
palissy/PM32000416/PM32000416MCH1988.pdf                      1
palissy/PM32000420/PM32000420MCH1988.pdf                      1
palissy/PM32000298/PM32000298MCH1988.pdf                      1
palissy/PM24000402/PM24000402CMH1945.pdf                      1

# POP_COMMENTAIRES

17557 valeurs uniques

|-         |

15% des objets ont une valeur non-nulle

                                                    POP_COMMENTAIRES
Le champ CONTACT ne doit pas être vide                         12832
Le champ REFE PM68000249 pointe vers une notice...               428
Le champ REFE PM18000527 pointe vers une notice...               270
Le champ REFE PM30000213 pointe vers une notice...               193
Le champ REFE PM91002521 pointe vers une notice...               146

# POP_CONTIENT_GEOLOCALISATION

2 valeurs uniques

|----------|

100% des objets ont une valeur non-nulle

     POP_CONTIENT_GEOLOCALISATION
non                        203436
oui                         72492

# POP_COORDINATES_POLYGON

3 valeurs uniques

|----------|

100% des objets ont une valeur non-nulle

                                                    POP_COORDINATES_POLYGON
{"coordinates":[],"type":"Polygon"}                                  275922
{"coordinates":null,"type":"Polygon"}                                     5
{"coordinates":[[43.7297332849,7.2977200015],[4...                        1

# POP_COORDONNEES

170 valeurs uniques

|----------|

100% des objets ont une valeur non-nulle

                                          POP_COORDONNEES
{"lon":0,"lat":0}                                  275185
{"lon":1.4328524156,"lat":49.3109555394}               42
{"lon":5.2190973322,"lat":46.2024335012}               41
{"lon":4.7761903565,"lat":45.940881223}                26
{"lon":1.3722440465,"lat":39.8154380466}               22

# POP_DOSSIER_PROTECTION

*Dossier de protection MH*

2 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

                                         POP_DOSSIER_PROTECTION
palissy/PM33000891/DPA4-ALBATRES-V2.pdf                       1

# POP_DOSSIER_VERT

*PDF Inventaire (dossier verts)*

1 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

Empty DataFrame
Columns: [POP_DOSSIER_VERT]
Index: []

# POP_FLAGS

*Alertes POP*

179 valeurs uniques

|-----     |

55% des objets ont une valeur non-nulle

                                                    POP_FLAGS
DOSS_EMPTY,ETUD_EMPTY,COPY_EMPTY,TICO_EMPTY,CON...      72032
DOSS_EMPTY,ETUD_EMPTY,COPY_EMPTY,TICO_EMPTY,CON...      16883
DOSS_EMPTY,COPY_EMPTY,TICO_EMPTY,CONTACT_EMPTY,...      13232
RENV_REF_NOT_FOUND                                      10413
REFE_REF_NOT_FOUND                                       8884

# POP_IMPORT

11601 valeurs uniques

|--------- |

87% des objets ont une valeur non-nulle

                                                   POP_IMPORT
5c33ca777b68f90e473e0fdf;5c3602a9b296ed0e141fbcd6       12064
5c1bedff1f43790e1b8e7b26                                 8645
5c1b94501f43790e1b8d4481                                 7751
5c6177663455e70e3206d7d3                                 7312
5c3342e533f91501911e100d                                 4504

# PPRO

*Précisions sur la protection*

20657 valeurs uniques

|--        |

19% des objets ont une valeur non-nulle

                                                    PPRO
Arrêté à vérifier                                   3156
Seule la partie instrumentale est protégée au t...   774
Inscrit à l’Inventaire Départemental des Antiqu...   504
I.D.                                                 404
Panneau peint.                                       377

# PRECISION_JURIDIQUE

*Précision juridique*

1 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

Empty DataFrame
Columns: [PRECISION_JURIDIQUE]
Index: []

# PREP

*Description littéraire de l'iconographie*

42047 valeurs uniques

|--        |

16% des objets ont une valeur non-nulle

                               PREP
Doute quant à l'iconographie.    62
Vierge à l'Enfant                36
Décor floral.                    27
Doute sur l'iconographie.        26
Vierge à l'Enfant assise.        24

# PRODUCTEUR

*Producteur*

1 valeurs uniques

|----------|

100% des objets ont une valeur non-nulle

                       PRODUCTEUR
Monuments Historiques      275928

# PROT

*Typologie de la protection*

61 valeurs uniques

|----------|

98% des objets ont une valeur non-nulle

                                                PROT
inscrit au titre objet                        144922
classé au titre objet                         119476
classé au titre immeuble                        4289
déclassé                                         655
classé comme un ensemble historique mobilier     260

# REF

*Référence de la notice*

275928 valeurs uniques

|----------|

100% des objets ont une valeur non-nulle

            REF
PM09000001    1
PM73002938    1
PM73001957    1
PM73003267    1
PM73002467    1

# REFA

*Référence Mérimée de l'édifice*

8951 valeurs uniques

|---       |

31% des objets ont une valeur non-nulle

            REFA
PA00103539  1296
PA00098836   859
PA00112936   841
PA00113586   533
PA00101462   501

# REFE

*Référence des l'ensemble*

4236 valeurs uniques

|-         |

6% des objets ont une valeur non-nulle

            REFE
PM68000249   428
PM02001248   323
PM18000527   270
PM85000542   222
PM30000213   194

# REFJOC

*Référence aux objets Joconde*

27 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

               REFJOC
M0250005948         1
M0794009144         1
M0332002058\n       1
M0250005947         1
M0250005949         1

# REFM

121 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

          REFM
PV004372    42
PV004445    20
PV005147    18
PV005048    15
PV004339    14

# REFMUS

*Référence aux objets Muséo*

3 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

       REFMUS
M0168       8
M5010       1

# REFP

*Références des parties constituantes étudiées*

4165 valeurs uniques

|          |

2% des objets ont une valeur non-nulle

                       REFP
PA00117178                3
IM10005028                2
PM44000680;PM44000681     2
PM43000321;PM43000325     2
PM55002740                2

# REG

*Région*

24 valeurs uniques

|----------|

100% des objets ont une valeur non-nulle

                           REG
Occitanie                33175
Hauts-de-France          30829
Auvergne-Rhône-Alpes     29652
Bourgogne-Franche-Comté  26586
Grand Est                24045

# RENP

*Renvoi vers dossier 'peinture'*

1 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

Empty DataFrame
Columns: [RENP]
Index: []

# RENV

*Numéro de renvoi vers un autre domaine*

18157 valeurs uniques

|-         |

7% des objets ont une valeur non-nulle

            RENV
IM62001929    31
IM68007630    27
IM49001187    13
IM90000004    12
IM64040307    10

# REPR

*Indexation iconographique normalisée*

42422 valeurs uniques

|----      |

44% des objets ont une valeur non-nulle

                     REPR
Vierge à l'Enfant    8316
Christ en croix      6335
Vierge de Pitié      2315
Vierge               1142
saint Jean-Baptiste  1083

# SCLD

6 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

                     SCLD
Rhône-Alpes             3
19e s.                  2
3e quart 19e siècle     1
19e siècle              1
PA00117178              1

# SCLE

*Siècle de création*

2676 valeurs uniques

|----------|

96% des objets ont une valeur non-nulle

                       SCLE
18e siècle            44931
17e siècle            31158
19e siècle            29659
16e siècle            18718
1er quart 19e siècle   7434

# SCLX

796 valeurs uniques

|--------- |

91% des objets ont une valeur non-nulle

         SCLX
18e s.  64132
19e s.  56211
17e s.  45830
16e s.  27050
20e s.   9634

# SOUR

*Sources d'archives et bases de données de référence*

61466 valeurs uniques

|----      |

35% des objets ont une valeur non-nulle

                                                    SOUR
Base des objets mobiliers de la conservation de...  4488
Liste des objets mobiliers du Maine-et-Loire, C...  3184
Liste des objets mobiliers protégés au titre de...  2582
Liste des objets mobiliers inscrits du Rhône, C...  2023
Laurence Mayeur (conservateur des antiquités et...  1603

# STAD

*Etape de création*

142 valeurs uniques

|          |

1% des objets ont une valeur non-nulle

                     STAD
copie                1895
modèle                129
copie (de peinture)   120
copie interprétée      97
copie partielle        63

# STAT

*Statut juridique du propriétaire*

102 valeurs uniques

|----------|

100% des objets ont une valeur non-nulle

                               STAT
propriété de la commune      195477
propriété de l'Etat           19007
propriété de la commune (?)   12314
propriété privée              11912
propriété publique            10696

# STRU

*Structure et typologie*

1339 valeurs uniques

|          |

4% des objets ont une valeur non-nulle

                          STRU
rectangulaire vertical    1751
revers plat                705
rectangulaire horizontal   642
revers sculpté             514
circulaire                 379

# THEM

*Thème de l'étude*

2 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

                                                  THEM
la chaîne du temps de l'observatoire de Besançon     4

# TICO

*Titre courant*

114435 valeurs uniques

|----------|

100% des objets ont une valeur non-nulle

                            TICO
statue : Vierge à l'Enfant  7332
cloche                      5895
statue : Christ en croix    3858
calice                      3622
chaire à prêcher            3358

# TITR

*Titre iconographique*

44782 valeurs uniques

|-----     |

47% des objets ont une valeur non-nulle

                      TITR
Vierge à l'Enfant    11334
Christ en croix       6045
Vierge de Pitié       2359
Saint Jean-Baptiste   1522
Saint Roch            1280

# TOUT

4866 valeurs uniques

|-         |

7% des objets ont une valeur non-nulle

                        TOUT
Illustré décembre 2021  3948
illustrée 2/12/2021     2077
lllustré janvier 2022   1712
illustré février 2022   1483
Illustré 4 8            1426

# VIDEO

*Url de liaison avec Mémoire*

61837 valeurs uniques

|--        |

23% des objets ont une valeur non-nulle

                                                    VIDEO
mem/0902/ivr22_93601843za_p.jpg;mem/0902/ivr22_...     15
mem/2923/sap83_42w01182_p.jpg;mem/2923/sap83_42...     13
mem/0008/sap01_56n02066_p.jpg;mem/0008/sap01_56...     12
mem/1760/sap01_mh0149636_p.jpg;mem/1760/sap01_m...     12
mem/1760/sap01_mh0149634_p.jpg;mem/1760/sap01_m...     12

# VOLS

*Informations relatives aux vols*

2501 valeurs uniques

|          |

1% des objets ont une valeur non-nulle

                                                    VOLS
Oeuvre volée. Mentionnée manquante dans le rapp...    44
Date du vol indéterminée.                             31
Oeuvre déplacée en mars 2009 de l'ancien hôpita...    17
Objet non trouvé sur le terrain.                      16
oeuvre volée                                          15

# WADRS

*Adresse pour l'affichage*

1124 valeurs uniques

|          |

4% des objets ont une valeur non-nulle

                      WADRS
rue de la Convention    522
avenue Nicolas-II       264
16 rue Dorée            196
16 rue Poitevine        166
parvis Notre-Dame       163

# WCOM

*Commune pour l'affichage*

24559 valeurs uniques

|----------|

99% des objets ont une valeur non-nulle

             WCOM
Nohant-Vic   3461
Montpellier  2290
Dijon        1537
Pamiers      1459
Angers       1366

# WEB

*Accès Mémoire*

21 valeurs uniques

|          |

0% des objets ont une valeur non-nulle

                                                    WEB
mem/0420/sap01_mh00079729_p.jpg;mem/0420/sap01_...    1
mem/0701/sap01_mh00004791_p.jpg;mem/0701/sap01_...    1
VISPAL-BEAUVAIS-CATH-SCULPTURE                        1
PM21000318                                            1
mem/2159/sap83_62w00074_p.jpg;mem/2159/sap83_62...    1

# WRENV

13728 valeurs uniques

|-         |

5% des objets ont une valeur non-nulle

                                                    WRENV
<A HREF='javascript:MisNot('palissy','IM6200192...     28
<A HREF='javascript:MisNot('palissy','IM6800763...     27
<A HREF='javascript:MisNot('palissy','IM4900118...     13
<A HREF='javascript:MisNot('palissy','IM9000000...     12
<A HREF='javascript:MisNot('palissy','IM0500427...      9

# ZONE

*Typologie de la coordonnée géographique de l'édifice*

80 valeurs uniques

|          |

1% des objets ont une valeur non-nulle

          ZONE
Lambert1  2725
Lambert0   308
Lambert2    64
WGS84       60
Lambert3    24

In [11]:
def meaningful_col(column):
    not_null_count = df[~df[column].isnull()].shape[0]
    not_null_ratio = float(not_null_count) / items_count
    return not_null_ratio > 0.1

meaningful_cols = [c for c in df.columns if meaningful_col(c)]

In [12]:
len(meaningful_cols)

63